<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootExamples - schedule" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="schedule" />
    <module name="spring-boot-examples" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="nl.rdb.SpringBootExamples" />
    <option name="VM_PARAMETERS" value="-cp $Classpath$:src/test/resources" />
    <method v="2">
      <option name="Make" enabled="true" />
      <option name="Maven.BeforeRunTask" enabled="true" file="$PROJECT_DIR$/pom.xml" goal="clean verify -DskipTests" />
    </method>
  </configuration>
</component>